<div class="leftcol round">
  <h1>Help</h1>

  <p>
    Q: How do I join the site? <br/>
    A: Simply press the "Sign Up Now" link on the front page, or click here <%= link_to "Sign Up Now", signup_path %>
    <br/>
    <br/>
    Q: How do I contact you. <br/>
    A: Just send me an email at birtwell@gmail.com, or click here for more
    details <%= link_to "Contact", contact_path %><br/>
    <br/>
    <br/>
    Q: I can't use my email!? <br/>
    A: You've got to use your blackburn college email address. This is your student id number followed by
    @mail.blackburn.ac.uk. If your are staff you only need @blackburn.ac.uk
    <br/>
    <br/>

    Q: Where is the group/planner function? <br/>
    A: It's on the To Do List for future developments. <br/>


  </p>
</div>