<tr>

  <td class="thought">
    <span class="thoughtmessage"><%= thought.content %> </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(thought.created_at) %> ago.
    </span>
  </td>

</tr>